<!DOCTYPE html>
<html data-attr-t lang-t="lang">
<head>

	<title data-t="title">Flushing Eyes, optical store</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="Your local optical store in Flushing with eye exams, premium eyeglasses, contact lenses, and ortho-k, supporting dozens of insurances." />
	<meta name="keywords" content="optical store, eyeglasses, contact lens, insurance, vision, eye exam, optometrist, optician, Flushing, New York">
	<meta name="author" content="Flushing Eyes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="css/style.css">
	<noscript>
		<style>
			.jsonly {
				display: none;
			}
		</style>
	</noscript>
</head>
<body>

	<!-- MENU -->
	<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>

				<!-- lOGO TEXT HERE -->
				<a href="./index.html" class="navbar-brand" data-t="brand-name">Flushing Eyes</a>
			</div>

			<!-- MENU LINKS -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-nav-first">
					<li><a href="#home" class="smoothScroll" data-t="nav.home">Home</a></li>
					<li><a href="#about" class="smoothScroll" data-t="nav.about">About</a></li>
					<li><a href="#contact" class="smoothScroll" data-t="nav.contact">Contact</a></li>
					<li><a href="./insurance.html" class="smoothScroll" data-t="nav.insurance">Insurance</a></li>
					<li><a data-attr-t data-attr-t-interpolate href-t="{{index.alt-lang-link}}" class="smoothScroll" data-t="index.alt-lang">中文</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="tel:17188868858"><i class="fa fa-phone"></i>(718) 886-8858</a></li>
					<a href="https://flushingeyes.setmore.com/" class="section-btn" target="_blank" data-t="nav.book-appointment">Book an Appointment</a>
				</ul>
			</div>

		</div>
	</section>


	<!-- HOME -->
	<section id="home" class="slider" data-stellar-background-ratio="0.5">
		<div class="row">

				<div class="owl-carousel owl-theme">
					<div class="item item-first">
						<div class="caption">
							<div class="container">
								<div class="col-md-8 col-sm-12">
									<h3 data-t="brand-name">Flushing Eyes</h3>
									<h1 data-t="index.carousel.slide1-t">Our mission is to serve all your vision needs</h1>
									<a href="https://www.google.com/maps/dir//Flushing+Eyes,+40-34+Union+St,+Flushing,+NY+11354/@40.759495,-73.826171,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89c260111bea0797:0x814ec25faaa0f939!2m2!1d-73.8261714!2d40.7594949!3e0?hl=en" class="section-btn btn btn-default smoothScroll" target="_blank" data-t="index.carousel.slide1-b">Get directions</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item item-second">
						<div class="caption">
							<div class="container">
								<div class="col-md-8 col-sm-12">
									<h3 data-t="index.carousel.slide2-h">Stylish, affordable glasses</h3>
									<h1 data-t="index.carousel.slide2-t">We accept over 30 insurance plans!</h1>
									<a href="./insurance.html" class="section-btn btn btn-default smoothScroll" data-t="index.carousel.slide2-b">Check your insurance</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item item-third">
						<div class="caption">
							<div class="container">
								<div class="col-md-8 col-sm-12">
									<h3 data-t="index.carousel.slide3-h">Full optometric services</h3>
									<h1 data-t="index.carousel.slide3-t">Get a comprehensive eye exam or diagnosis</h1>
									<a href="#contact" class="section-btn btn btn-default smoothScroll" data-t="index.carousel.slide3-b">Contact us</a>
								</div>
							</div>
						</div>
					</div>
				</div>

		</div>
	</section>

	<section id="intro" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="about-info">
						<p data-t="index.p1">Flushing Eyes is an optometry office and optical store located in the heart of Flushing, NY.
						</p>
						<p data-t="index.p2">We’re open from Monday to Saturday from 10:30 AM to 6:30 PM, and on Sunday from 11 AM to 5 PM, and we have a full-time doctor on-site. Both walk-ins and <a href="https://flushingeyes.setmore.com/">appointments</a> are welcome.</p>
						<p data-t="index.p3">Whatever your vision needs &ndash; a routine or comprehensive eye exam, new affordable or premium glasses, or a contact lenses fitting &ndash; we have you covered. We have a wide variety of brand-name frames such as Gucci, ic! berlin, Ray-Ban, Disney, and more. <a href="./insurance.html">With your insurance</a>, you could get free pair of glasses and an eye exam. (And don’t worry if you don’t have insurance; we have a special discount just for you.)</p>
						<p data-t="index.p4">We speak English, Mandarin Chinese, and even Wenzhounese.</p>
						<p data-t="index.p5">In a rush to get new glasses? With our in-house edger, we can fit a pair of glasses to your prescription lenses within the hour (if the lenses are in stock).</p>
					</div>
				</div>				
			</div>
		</div>
	</section>

	<!-- ABOUT -->
	<section id="about" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">
					<div class="about-info">
						<div class="section-title">
							<h2 data-t="nav.about">About</h2>
						</div>

						<div>
							<p data-t="index.about">Our optometrist, Dr. John Yin, has been serving in eye care for over 20 years and is experienced with managing ailments like dry eye, eye infection, cataract, and glaucoma.</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<!-- TESTIMONIAL -->
	<section id="testimonial" class="jsonly" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h2 data-t="index.testimonials">Testimonials</h2>
					</div>
				</div>  

				<div class="col-md-offset-2 col-md-8 col-sm-12">
					<div class="owl-carousel owl-theme">
						<span class="yelp-review" data-review-id="vAt1RreekhvhCkh1cB4qYA" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=0cMfmQCmwfTTtW9FDk710g" rel="nofollow noopener">Charmine V.</a>'s <a href="https://www.yelp.com/biz/flushing-eyes-queens?hrid=vAt1RreekhvhCkh1cB4qYA" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/d8EDGGxe6EnPSj2fnd1hLg" rel="nofollow noopener">Flushing Eyes</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a></span>
						<span class="yelp-review" data-review-id="k3CJPAcL2SqzDtOm2s5CwA" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=TxgKYjIJuwRKTD8-zEj3Ug" rel="nofollow noopener">Betty S.</a>'s <a href="https://www.yelp.com/biz/flushing-eyes-queens?hrid=k3CJPAcL2SqzDtOm2s5CwA" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/d8EDGGxe6EnPSj2fnd1hLg" rel="nofollow noopener">Flushing Eyes</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a></span>
						<span class="yelp-review" data-review-id="9ApX9jI5wlX5fcXctGTy0Q" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=LEBShu5ddEJ3rEu9-n1vEA" rel="nofollow noopener">Cecelia S.</a>'s <a href="https://www.yelp.com/biz/flushing-eyes-queens?hrid=9ApX9jI5wlX5fcXctGTy0Q" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/d8EDGGxe6EnPSj2fnd1hLg" rel="nofollow noopener">Flushing Eyes</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a></span>
					</div>
				</div>

			</div>
		</div>
	</section>  


	<!-- CONTACT -->
	<section id="contact" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div id="google-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.115020124339!2d-73.82836008459358!3d40.7594948793267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c260111bea0797%3A0x814ec25faaa0f939!2sFlushing%20Eyes!5e0!3m2!1sen!2sus!4v1589141319976!5m2!1sen!2sus" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6 col-sm-12">

					<div class="col-md-12 col-sm-12">
						<div class="section-title">
							<h2 data-t="index.contact-us">Contact Us</h2>

							<p>
								Address: <a href="https://www.google.com/maps/place/Flushing+Eyes/@40.7594949,-73.8283601,17z/data=!3m1!4b1!4m5!3m4!1s0x89c260111bea0797:0x814ec25faaa0f939!8m2!3d40.7594949!4d-73.8261714">40-34 Union Street, Flushing, NY 11354</a><br/>
								Tel: <a href="tel:17188868858">(718) 886-8858</a><br/>
								Fax: <a href="tel:17188868897">(718) 886-8897</a><br/>
								Email: <a href="mailto:flushingeyes@gmail.com">flushingeyes@gmail.com</a><br/>
								<a href="https://flushingeyes.setmore.com/">Book an appointment</a> (or just walk in)<br/>
								Nearby transit: 7 train Main Street stop, Q12, Q15, Q15A, Q17, Q25, Q27, Q34, Q65.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- FOOTER -->
	<footer id="footer" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-3 col-sm-8">
					<div class="footer-info">
						<div class="section-title">
							<h2>Find us</h2>
						</div>
						<address>
							<a href="https://www.google.com/maps/place/Flushing+Eyes/@40.7594949,-73.8283601,17z/data=!3m1!4b1!4m5!3m4!1s0x89c260111bea0797:0x814ec25faaa0f939!8m2!3d40.7594949!4d-73.8261714">40-34 Union Street, Flushing, NY 11354</a>
						</address>
					</div>
				</div>

				<div class="col-md-3 col-sm-8">
					<div class="footer-info">
						<div class="section-title">
							<h2>Contact</h2>
						</div>
						<address>
							Tel: <a href="tel:17188868858">(718) 886-8858</a><br/>
							Fax: <a href="tel:17188868897">(718) 886-8897</a><br/>
							Email: <a href="mailto:flushingeyes@gmail.com">flushingeyes@gmail.com</a><br/>
							<a href="https://flushingeyes.setmore.com/">Book an appointment</a> (or just walk in)
						</address>
					</div>
				</div>

				<div class="col-md-4 col-sm-8">
					<div class="footer-info footer-open-hour">
						<div class="section-title">
							<h2 data-t="footer.open-hours">Open Hours</h2>
						</div>
						<div>
							<span style="color: #ddd" data-t="footer.hours">
							Monday–Saturday: 10:30 AM to 6:30 PM<br/>
							Sunday: 11 AM to 5 PM
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-2 col-sm-4">
					<ul class="social-icon">
						<li><a href="https://www.facebook.com/FlushingEyesOptical/" class="fa fa-facebook-square" attr="facebook icon" style="font-size: 32px"></a></li>
						<li><a href="https://g.page/flushing-eyes" class="fa fa-google" style="font-size: 32px"></a></li>
					</ul>

					<div class="copyright-text"> 
						Copyright &copy; 2021 <br>Flushing Eyes
					</div>
				</div>
				
			</div>
		</div>
	</footer>


	<!-- SCRIPTS -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/custom.js"></script>
	<script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script>
	<!-- Cloudflare Web Analytics -->
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7486abfa87014a578e216691dbe68aa4"}'></script>
</body>
</html>