<!DOCTYPE html>
<html data-attr-t lang-t="lang">
<head>
	<title data-t="insurance.title">Insurance - Flushing Eyes</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="Insurance plans accepted by your local optical store in Flushing with eye exams, premium eyeglasses, contact lenses, and ortho-k, supporting dozens of insurances." />
	<meta name="keywords" content="optical store, eyeglasses, contact lens, insurance, vision, eye exam, optometrist, optician, Flushing, New York">
	<meta name="author" content="Flushing Eyes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- MENU -->
	<section class="custom-navbar navbar-fixed-top top-nav-collapse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>

				<!-- lOGO TEXT HERE -->
				<a href="index.html" class="navbar-brand" data-t="brand-name">Flushing Eyes</a>
			</div>

			<!-- MENU LINKS -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-nav-first">
					<li><a href="#home" class="smoothScroll" data-t="nav.home">Home</a></li>
					<li><a href="#about" class="smoothScroll" data-t="nav.about">About</a></li>
					<li><a href="#contact" class="smoothScroll" data-t="nav.contact">Contact</a></li>
					<li><a href="./insurance.html" class="smoothScroll" data-t="nav.insurance">Insurance</a></li>
					<li><a data-attr-t data-attr-t-interpolate href-t="{{insurance.alt-lang-link}}" class="smoothScroll" data-t="insurance.alt-lang">中文</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="tel:17188868858"><i class="fa fa-phone"></i>(718) 886-8858</a></li>
					<a href="https://flushingeyes.setmore.com/" class="section-btn" target="_blank" data-t="nav.book-appointment">Book an Appointment</a>
				</ul>
			</div>

		</div>
	</section>
	
	<!-- INSURANCE -->

	<section id="insurance" data-stellar-background-ratio="0.5" style="margin-top:50px">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h2 data-t="nav.insurance">Insurance</h2>
					</div>

					<div>
						<p data-t="insurance.intro">If you have a health insurance listed below, you may have vision benefits that allow you to get eye exams, glasses, contact lenses, or more, at a substantial discount or often even for free. If not, don't worry, we still got some great deals for you. You can <a href="tel:17188868858">call us at (718) 886-8858</a> or stop by the office to see if your insurance is eligible.</p>
						<ul class="columns">
							<li>1199</li>
							<li>AARP</li>
							<li>Aetna</li>
							<li>Affinity</li>
							<li>AgeWell</li>
							<li>America’s Choice</li>
							<li>Amerigroup</li>
							<li>Amida Care</li>
							<li>BlueCross BlueShield</li>
							<li>CenterLight</li>
							<li>CenterPlan</li>
							<li>Cigna</li>
							<li>Davis Vision</li>
							<li>Elderplan/Eldercare/Homefirst</li>
							<li>EyeMed</li>
							<li>Fidelis</li>
							<li>GHI</li>
							<li>HealthFirst</li>
							<li>HealthPlus</li>
							<li>HIP</li>
							<li>Humana</li>
							<li>Integra</li>
							<li>Medicaid</li>
							<li>MetroPlus</li>
							<li>Neighborhood</li>
							<li>Optum Health</li>
							<li>Oxford (牛津)</li>
							<li>Spectera</li>
							<li>Superior Vision</li>
							<li>UFT</li>
							<li>UnitedHealthcare</li>
							<li>VSNY CHOICE</li>
							<li>VSP</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- FOOTER -->
	<footer id="footer" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-3 col-sm-8">
					<div class="footer-info">
						<div class="section-title">
							<h2>Find us</h2>
						</div>
						<address>
							<a href="https://www.google.com/maps/place/Flushing+Eyes/@40.7594949,-73.8283601,17z/data=!3m1!4b1!4m5!3m4!1s0x89c260111bea0797:0x814ec25faaa0f939!8m2!3d40.7594949!4d-73.8261714">40-34 Union Street, Flushing, NY 11354</a>
						</address>
					</div>
				</div>

				<div class="col-md-3 col-sm-8">
					<div class="footer-info">
						<div class="section-title">
							<h2>Contact</h2>
						</div>
						<address>
							Tel: <a href="tel:17188868858">(718) 886-8858</a><br/>
							Fax: <a href="tel:17188868897">(718) 886-8897</a><br/>
							Email: <a href="mailto:flushingeyes@gmail.com">flushingeyes@gmail.com</a><br/>
							<a href="https://flushingeyes.setmore.com/">Book an appointment</a> (or just walk in)
						</address>
					</div>
				</div>

				<div class="col-md-4 col-sm-8">
					<div class="footer-info footer-open-hour">
						<div class="section-title">
							<h2 data-t="footer.open-hours">Open Hours</h2>
						</div>
						<div>
							<span style="color: #ddd" data-t="footer.hours">
							Monday–Saturday: 10:30 AM to 6:30 PM<br/>
							Sunday: 11 AM to 5 PM
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-2 col-sm-4">
					<ul class="social-icon">
						<li><a href="https://www.facebook.com/FlushingEyesOptical/" class="fa fa-facebook-square" attr="facebook icon" style="font-size: 32px"></a></li>
						<li><a href="https://g.page/flushing-eyes" class="fa fa-google" style="font-size: 32px"></a></li>
					</ul>

					<div class="copyright-text"> 
						Copyright &copy; 2021 <br>Flushing Eyes
					</div>
				</div>
				
			</div>
		</div>
	</footer>


	<!-- SCRIPTS -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/custom.js"></script>
	<!-- Cloudflare Web Analytics -->
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7486abfa87014a578e216691dbe68aa4"}'></script>
</body>
</html>